## Scrape(naukri.com) Date 31-10-2022

In [1]:
from selenium.webdriver.common.by import By
from selenium import webdriver
import logging as console
import pandas as pd
import time
import csv

In [2]:
console.basicConfig(filename= "Search-Jobs.log", level= console.DEBUG, format= '%(asctime)s%(message)s')

class SearchJobDetails:
    
    def get_driver(self):
        console.info('\nPreparing Driver')
        DRIVER_PATH = 'Enter your Chrome Driver path'
        driver = webdriver.Chrome(executable_path = DRIVER_PATH)
        return driver
    
    def get_job_details(self, skills, location):
        console.info('\nGetting Job Details..')
        driver = self.get_driver()
        
        driver.get("https://www.naukri.com/")
        driver.implicitly_wait(5)
        
        # enter skills 
        skill = driver.find_element(By.XPATH,'//*[@id="root"]/div[6]/div/div/div[1]/div/div/div/input')
        skill.send_keys(skills)
        
        # enter location
        loc = driver.find_element(By.XPATH,'//*[@id="root"]/div[6]/div/div/div[5]/div/div/div/input')
        loc.send_keys(location)
        driver.implicitly_wait(5)
        
        # click submit button
        search_btn = driver.find_element(By.CLASS_NAME,'qsbSubmit')
        search_btn.click()
        time.sleep(2)
        
        filename = skills+' '+location + '.csv'
                
        headers = ['Job Title','Company','Location','Job Highlights','Full Job Description','Reviews',\
                    'Job Type','Qualification','Experience','Salary','Posted on','Required Skills',\
                    'Application Link','Search Term']
        
        # csv to write all the job details
        with open(filename, 'w', newline="", encoding='UTF-8', errors='ignore') as csv_file:
            writer = csv.DictWriter(csv_file, fieldnames=headers, extrasaction='ignore')
            writer.writeheader()
            
            while True:
                
                try:
                    nextPagebtn = driver.find_element(By.CSS_SELECTOR,'#root > div.search-result-container > \
                    div > section.listContainer.fleft > div.mt-64.mb-60 > div > \
                    a.fright.fs14.btn-secondary.br2')
                    
                except:
                    print('Fetched all jobs')
                    break

                job_list = driver.find_element(By.CLASS_NAME,'list').find_elements(By.TAG_NAME,'article')
                
                
                for job in job_list:
                    try:
                        driver.switch_to.window(driver.window_handles[0])
                        
                        while True:
                            try:
                                # first click job card
                                job.click()     
                                driver.implicitly_wait(5)
                                # switch driver to opened tab
                                driver.switch_to.window(driver.window_handles[1]) 
                                break
                            except:
                                pass

                        try:
                            title = driver.find_element(By.CLASS_NAME,'jd-header-title').text
                        except:
                            title = ''

                        try:
                            company = driver.find_element(By.CSS_SELECTOR,'#root > main > div.jd-container > \
                            div.leftSec > section.jd-header > div.top > div.jd-top-head > div > a.pad-rt-8').text
                        except:
                            company = ''

                        try:
                            location = driver.find_element(By.CSS_SELECTOR,'#root > main > div.jd-container > \
                            div.leftSec > section.jd-header > div.top > div.left > div.loc > span').text
                        except:
                            location = ''

                        try:
                            jd = driver.find_element(By.CSS_SELECTOR,'#root > main > div.jd-container > \
                            div.leftSec > section.job-desc > div.dang-inner-html > p:nth-child(1)').text
                        except:
                            jd = ''

                        try:
                            full_jd = driver.find_element(By.CSS_SELECTOR,'#root > main > div.jd-container \
                            > div.leftSec > section.job-desc > div.dang-inner-html').text 
                            
                            full_jd = full_jd.replace('\n',' ')
                        except:
                            full_jd = ''
                            

                        time.sleep(2)

                        try:
                            reviews = driver.find_element(By.CSS_SELECTOR,'#root > main > div.jd-container > \
                            div.leftSec > section.jd-header > div.top > div.jd-top-head > div > a:nth-child(2) > \
                            span.amb-reviews.pad-rt-4').text.split(' ')[0].split('(')[1]
                        except:
                            reviews = ''


                        other_details = driver.find_element(By.CSS_SELECTOR,'#root > main > div.jd-container > \
                        div.leftSec > section.job-desc > div.other-details').text

                        with open('otherDetails.txt','w',encoding='UTF-8', errors='ignore') as jobdetails:
                            text = other_details
                            jobdetails.write(text)
                            jobdetails.close()

                        with open('otherDetails.txt',encoding='UTF-8', errors='ignore') as lines:
                            f = lines.readlines()
                            jobtype = ''

                            for i in range(len(f)):
                                try:
                                    if 'Employment' in f[i]:
                                        jobtype = ''.join(f[i].split('Type')[1].replace('\n',''))
                                except:
                                    jobtype = 'Not Mentioned'



                        qual = []
                        qualification = driver.find_element(By.CSS_SELECTOR,'#root > main > div.jd-container \
                        > div.leftSec > section.job-desc > div.education').text

                        try:
                            qual.append(qualification.splitlines()[1])
                            try:
                                qual.append(qualification.splitlines()[2])
                            except:
                                pass
                        except:
                            qual.append('Not Mentioned')

                        q = ', '.join(qual)


                        try:
                            experience = driver.find_element(By.CSS_SELECTOR,'#root > main > div.jd-container > \
                            div.leftSec > section.jd-header > div.top > div.left > div.exp > span').text
                        except:
                            experience = 'Not Mentioned'


                        salary = driver.find_element(By.CSS_SELECTOR,'#root > main > div.jd-container > \
                        div.leftSec > section.jd-header > div.top > div.left > div.salary > span').text

                        try:
                            posted_on = driver.find_element(By.CSS_SELECTOR,'#root > main > div.jd-container > \
                            div.leftSec > section.jd-header > div.bottom > div.jd-stats > span:nth-child(1) > \
                            span').text
                        except:
                            posted_on = ''


                        skills_list = []
                        try:
                            skills_loc = driver.find_element(By.XPATH,'//*[@id="root"]/main/div[2]/div[2]\
                            /section[2]/div[4]/div[2]').find_elements(By.TAG_NAME,'a')

                            for skill in skills_loc:
                                skills_list.append()
                        except:
                            pass

                        try:
                            skills_loc = driver.find_element(By.XPATH,\
                                        '//*[@id="root"]/main/div[2]/div[2]/section[2]/div[4]/div[3]')\
                                        .find_elements(By.TAG_NAME,'a')

                            for skill in skills_loc:
                                skills_list.append(skill.text)
                        except:
                            pass


                        s = ', '.join(skills_list)

                        try:
                            link = driver.current_url
                        except:
                            link = ''


                        # appending all the collected data to the dictionary
                        job_details_dict = {
                                    'Job Title': title,
                                    'Company': company,
                                    'Location': location,
                                    'Job Highlights': jd,
                                    'Full Job Description': full_jd,
                                    'Reviews': reviews,
                                    'Job Type': jobtype,
                                    'Qualification': q,
                                    'Experience': experience,
                                    'Salary': salary,
                                    'Posted on': posted_on,
                                    'Required Skills': s,
                                    'Application Link': link,
                                    'Search Term': skills
                                    }

                        try:
                            writer.writerow(job_details_dict)
                        except Exception as e:
                            print(e)

                        job_details_dict.clear()

                        # close current window
                        driver.switch_to.window(driver.window_handles[1])
                        driver.close()
                        
                        
                    except:
                        driver.switch_to.window(driver.window_handles[1])
                        driver.close()
                
                # switching to the parent window
                driver.switch_to.window(driver.window_handles[0])
                    
                nextPagebtn.click()
                driver.implicitly_wait(2)
                time.sleep(5)
                
        return 'Done fetching '+skill
        
    def data_science_jobs(self):
        console.info('\nInside data_science_jobs()')
        self.get_job_details(skills='data scientist', location='india')
        return 
        
    def data_analyst_jobs(self):
        console.info('\nInside data_analyst_jobs()')
        self.get_job_details(skills='data analyst', location='india')
        return 
    
    def data_engineer_jobs(self):
        console.info('\nInside data_engineer_jobs()')
        self.get_job_details(skills='data engineer', location='india')
        return 
    
    def machine_learning_engineer_jobs(self):
        console.info('\nInside machine_learning_engineer_jobs()')
        self.get_job_details(skills='machine learning engineer', location='india')
        return

In [3]:
jd = SearchJobDetails()

In [ ]:
jd.data_science_jobs()

In [ ]:
jd.data_analyst_jobs()

/var/folders/lv/997gx9lx4715xwdf8wr9sm0r0000gn/T/ipykernel_42549/327566013.py:8: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(executable_path = DRIVER_PATH)

In [ ]:
jd.data_engineer_jobs()

/var/folders/lv/997gx9lx4715xwdf8wr9sm0r0000gn/T/ipykernel_1392/4003612104.py:8: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(executable_path = DRIVER_PATH)

In [ ]:
jd.machine_learning_engineer_jobs()

/var/folders/lv/997gx9lx4715xwdf8wr9sm0r0000gn/T/ipykernel_3878/3667143955.py:8: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(executable_path = DRIVER_PATH)

In [ ]:
df = pd.read_csv('data scientist india.csv')

In [3]:
pd.read_csv('data analyst india.csv')

,Job Title,Company,Location,Job Highlights,Full Job Description,Reviews,Job Type,Qualification,Experience,Salary,Posted on,Required Skills,Application Link,Search Term
0,Data Analyst / Business Analyst,Trukker Technologies,Bangalore/Bengaluru( Indira Nagar ),Interested Candidates can Call or message the ...,Interested Candidates can Call or message the ...,10.0,"Full Time, Permanent",UG :Any Graduate,2 - 4 years,"₹ 8,00,000 - 11,00,000 P.A.",3 days ago,"Business Intelligence, data analysis, Business...",https://www.naukri.com/job-listings-data-analy...,data analyst
1,Contractual Hiring For Top MNC || Business Dat...,TeamLease,Bangalore/Bengaluru,Roles and Responsibilities,Roles and Responsibilities Business Data Analy...,1819.0,"Full Time, Temporary/Contractual","UG :Any Graduate, PG :Any Postgraduate",5 - 8 years,"₹ 5,00,000 - 12,00,000 P.A.",4 days ago,"Project Management, Requirement Gathering",https://www.naukri.com/job-listings-contractua...,data analyst
2,Lead Data Analyst,SVB Global Services India Llp,Bangalore/Bengaluru,NaN,Engage with CMT (Control Monitoring and Testin...,NaN,"Full Time, Permanent","UG :Any Graduate, PG :Any Postgraduate",8 - 13 years,Not Disclosed,2 days ago,NaN,https://www.naukri.com/job-listings-lead-data-...,data analyst
3,Data Analyst,Allied Engineers,"New Delhi, Faridabad( Ashoka Enclave, Green Fi...",Job Profile:,Job Profile: Very Good English Written and Ver...,40.0,"Full Time, Permanent","UG :B.Sc in Maths, Physics",0 - 3 years,"₹ 2,25,000 - 2,75,000 P.A.",1 day ago,"Graduation in Physics or Maths, DCA, Data Anal...",https://www.naukri.com/job-listings-data-analy...,data analyst
4,Senior Data Analyst - MDM | Hy-Vee,Talent500,Bangalore/Bengaluru,NaN,Sr. Data Analyst on the Master Data Management...,13.0,"Full Time, Permanent",UG :Any Graduate,3 - 8 years,Not Disclosed,1 day ago,NaN,https://www.naukri.com/job-listings-senior-dat...,data analyst
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
393,Data Analyst - Power Bi | Pepsico,Talent500,"Hyderabad/Secunderabad, Chennai, Bangalore/Ben...",NaN,Main Purpose: This position will be part of th...,13.0,"Full Time, Permanent",UG :Any Graduate,5 - 10 years,Not Disclosed,9 days ago,NaN,https://www.naukri.com/job-listings-data-analy...,data analyst
394,Data Analyst - Power Bi | Pepsico,Talent500,"Hyderabad/Secunderabad, Chennai, Bangalore/Ben...",NaN,Main Purpose: Europe Sector is the biggest reg...,13.0,"Full Time, Permanent",UG :Any Graduate,4 - 9 years,Not Disclosed,9 days ago,NaN,https://www.naukri.com/job-listings-data-analy...,data analyst
395,Data Analyst - Power Bi | Pepsico,Talent500,"Hyderabad/Secunderabad, Chennai, Bangalore/Ben...",NaN,Main Purpose: Deliver exceptional operational ...,13.0,"Full Time, Permanent",UG :Any Graduate,5 - 10 years,Not Disclosed,10 days ago,NaN,https://www.naukri.com/job-listings-data-analy...,data analyst
396,Data Analyst - Marketing | Pepsico,Talent500,"Hyderabad/Secunderabad, Chennai, Bangalore/Ben...",NaN,Main Purpose: The objective of the role is to ...,13.0,"Full Time, Permanent",UG :Any Graduate,7 - 12 years,Not Disclosed,10 days ago,NaN,https://www.naukri.com/job-listings-data-analy...,data analyst
397,Data Analyst - 2,Varite,Bangalore/Bengaluru,NaN,Client is looking for a data driven and high-e...,79.0,"Full Time, Permanent","UG :Any Graduate, PG :Any Postgraduate",3 - 7 years,Not Disclosed,10 days ago,NaN,https://www.naukri.com/job-listings-data-analy...,data analyst

In [4]:
pd.read_csv('data engineer india.csv')

,Job Title,Company,Location,Job Highlights,Full Job Description,Reviews,Job Type,Qualification,Experience,Salary,Posted on,Required Skills,Application Link,Search Term
0,Data Engineer: Big Data,IBM,Bangalore/Bengaluru,NaN,Be involved in data engineering activities lik...,15586.0,"Full Time, Permanent","UG :B.Tech/B.E., PG :Post Graduation Not Required",2 - 5 years,Not Disclosed,3 days ago,"Data migration, github, Version control, devop...",https://www.naukri.com/job-listings-data-engin...,data engineer
1,Senior Data Engineer,Novo Nordisk India,Bangalore/Bengaluru,NaN,Experience in AWS as Cloud Engineer/ Cloud Dev...,599.0,"Full Time, Permanent","UG :Any Graduate, PG :Any Postgraduate",5 - 10 years,Not Disclosed,4 days ago,NaN,https://www.naukri.com/job-listings-senior-dat...,data engineer
2,Senior Data Engineer,Visa,Bangalore/Bengaluru,NaN,Support Data warehouse Engineering in the arch...,103.0,"Full Time, Permanent","UG :Any Graduate, PG :Any Postgraduate",7 - 12 years,Not Disclosed,4 days ago,NaN,https://www.naukri.com/job-listings-senior-dat...,data engineer
3,Data Engineer: Big Data,IBM,Hyderabad/Secunderabad,"As Big Data Engineer, you will develop, mainta...","As Big Data Engineer, you will develop, mainta...",15586.0,"Full Time, Permanent","UG :B.Tech/B.E., PG :Post Graduation Not Required",7 - 12 years,Not Disclosed,3 days ago,"Interpersonal skills, GIT, Time management, Ha...",https://www.naukri.com/job-listings-data-engin...,data engineer
4,Data Engineer: Big Data,IBM,Hyderabad/Secunderabad,NaN,Your Role and Responsibilities Be involved in ...,15586.0,"Full Time, Permanent","UG :B.Tech/B.E., PG :Post Graduation Not Required",2 - 5 years,Not Disclosed,5 days ago,"Data migration, github, Version control, devop...",https://www.naukri.com/job-listings-data-engin...,data engineer
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79,Senior Consultant - Data Engineer,"ThoughtWorks, Inc.",Hyderabad/Secunderabad,NaN,Bringing the business and technology together ...,NaN,"Full Time, Permanent","UG :Any Graduate, PG :Any Postgraduate",5 - 10 years,Not Disclosed,13 days ago,NaN,https://www.naukri.com/job-listings-senior-con...,data engineer
80,Senior Consultant - Data Engineer,"ThoughtWorks, Inc.",Gurgaon/Gurugram,NaN,Bringing the business and technology together ...,NaN,"Full Time, Permanent","UG :Any Graduate, PG :Any Postgraduate",5 - 10 years,Not Disclosed,13 days ago,NaN,https://www.naukri.com/job-listings-senior-con...,data engineer
81,Senior Consultant - Data Engineer,"ThoughtWorks, Inc.",Pune,NaN,Bringing the business and technology together ...,NaN,"Full Time, Permanent","UG :Any Graduate, PG :Any Postgraduate",5 - 10 years,Not Disclosed,13 days ago,NaN,https://www.naukri.com/job-listings-senior-con...,data engineer
82,Sr. Data engineer,Job Fittment Finder,"Hyderabad/Secunderabad, Bangalore/Bengaluru",NaN,"Must Have Skills : Python,pySpark Key Respons...",NaN,"Full Time, Permanent","UG :Any Graduate, PG :Any Postgraduate",4 - 9 years,Not Disclosed,3 days ago,"Pyspark, Hive, Azure, EC2, Frame Work, SQL Ser...",https://www.naukri.com/job-listings-sr-data-en...,data engineer
83,Azure ETL Data Engineer,CGI,Bangalore/Bengaluru,NaN,Azure ETL Data Engineer - 2-6 Years • Design ...,2023.0,"Full Time, Permanent","UG :B.Tech/B.E. in Any Specialization, PG :Any...",2 - 6 years,Not Disclosed,12 days ago,"Pyspark, Java, Scala, CSV, Hadoop, Azure Datab...",https://www.naukri.com/job-listings-azure-etl-...,data engineer

In [3]:
pd.read_csv('machine learning engineer india.csv')

,Job Title,Company,Location,Job Highlights,Full Job Description,Reviews,Job Type,Qualification,Experience,Salary,Posted on,Required Skills,Application Link,Search Term
0,Machine Learning Engineer - Python/Data Modeling,Huquo Consulting Pvt. Ltd,"Gurgaon/Gurugram, Bangalore/Bengaluru","Roles & Responsibilities :\n\n- Design, implem...","Roles & Responsibilities : - Design, implemen...",NaN,"Full Time, Permanent","UG :BCA in Any Specialization, B.Tech/B.E. in ...",2 - 7 years,Not Disclosed,3 days ago,"Data Science, model validation, TFIDF, model d...",https://www.naukri.com/job-listings-machine-le...,machine learning engineer
1,Artificial Intelligence/Machine Learning Engin...,iMindYourBusiness,Bangalore/Bengaluru,NaN,We are looking for an experienced candidate in...,NaN,"Full Time, Permanent","UG :Any Graduate, PG :MCA in Computers, MS/M.S...",3 - 6 years,Not Disclosed,4 days ago,"Predictive Modeling, R, SAS, Artificial Intell...",https://www.naukri.com/job-listings-artificial...,machine learning engineer
2,Sr Machine Learning Engineer,Baker Hughes,"Mumbai, Bangalore/Bengaluru",NaN,We are looking for a motivated individual with...,320.0,"Full Time, Permanent","UG :Any Graduate, PG :Any Postgraduate",4 - 8 years,Not Disclosed,4 days ago,NaN,https://www.naukri.com/job-listings-sr-machine...,machine learning engineer
3,Hiring For Machine Learning Engineer @ Coforge...,Coforge,Gurgaon/Gurugram,Position: Machine Learning Engineer,Position: Machine Learning Engineer Location: ...,991.0,"Full Time, Permanent",UG :Any Graduate,8 - 13 years,Not Disclosed,6 days ago,"Tensorflow, python, C++, NLP, Artificial Intel...",https://www.naukri.com/job-listings-hiring-for...,machine learning engineer
4,Opportunity For Data Scientist - Machine Learn...,Payu,"Gurgaon/Gurugram, Bangalore/Bengaluru, Delhi /...",NaN,Job Description We are looking for a data scie...,230.0,"Full Time, Permanent","UG :Any Graduate, PG :Any Postgraduate",2 - 4 years,Not Disclosed,19 days ago,Data Mining,https://www.naukri.com/job-listings-opportunit...,machine learning engineer
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128,Machine Learning Engineer 3,PeopleStrong HR Services Pvt Ltd,Gurgaon/Gurugram,NaN,Experience 4 to 6 years Basic knowledge of the...,354.0,"Full Time, Permanent","UG :Any Graduate, PG :Any Postgraduate",5 - 7 years,Not Disclosed,30+ days ago,NaN,https://www.naukri.com/job-listings-machine-le...,machine learning engineer
129,Sr. Machine Learning Engineer,Alpha Net,"Kolkata, Mumbai, Hyderabad/Secunderabad, Luckn...",(Permanent work home),(Permanent work home) • Strong hands-on coding...,NaN,"Full Time, Permanent","UG :Any Graduate, PG :Any Postgraduate",6 - 11 years,Not Disclosed,30+ days ago,"Airflow, data analytics, Pandas, Snowflake, AW...",https://www.naukri.com/job-listings-sr-machine...,machine learning engineer
130,Machine Learning Engineer,Connexions,Bangalore/Bengaluru,NaN,Role: Machine Learning Engineer (with a Deep-L...,NaN,"Full Time, Permanent","UG :B.Sc in Computers, BCA in Computers, B.Tec...",2 - 7 years,Not Disclosed,20 days ago,"Tensorflow, Airflow, Java, C++, ML Model, obje...",https://www.naukri.com/job-listings-machine-le...,machine learning engineer
131,Sr Machine Learning Engineer/ Staff Engineer(w...,Connexions,Bangalore/Bengaluru,Sr Machine Learning Engineer/ Staff Engineer(w...,Sr Machine Learning Engineer/ Staff Engineer(w...,NaN,"Full Time, Permanent","UG :B.Sc in Computers, BCA in Computers, B.Tec...",5 - 10 years,Not Disclosed,20 days ago,"Tensorflow, Airflow, Java, C++, ML Model, obje...",https://www.naukri.com/job-listings-sr-machine...,machine learning engineer
132,Machine Learning Engineer,Thakral One Solutions Pvt. Ltd.,Bangalore/Bengaluru,We are looking for Machine Learning/ML Engineer.,We are looking for Machine Learning/ML Enginee...,NaN,"Full Time, Permanent",UG :Any Graduate,5 - 9 years,"₹ 10,00,000 - 17,00,000 P.A.",28 days ago,NaN,https://www.naukri.com/job-listings-machine-le...,machine learning engineer